{% extends 'sending_emails/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col">
    </div>
    <div class="col-5">
      <form method="post">
          {% csrf_token %}
          <p>Хотите удалить {{ object.start_time }}?</p>
          <button class="btn btn-primary" role="button">Подтвердить</button>
          <a href="{% url 'sending_emails:mailings_list' %}" class="btn btn-primary" role="button">Отменить</a>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock %}